#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


.app-container {
  max-width: 800px;
  margin: 0 auto;    
  text-align: center; 
}


.campus-selector {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap; 
}

.campus-selector button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.campus-selector button:hover {
  background-color: #555;
}

.campus-selector button.active {
  background-color: #646cff;
  font-weight: bold;
  border: 2px solid #fff;
}


.space-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
}


.study-space {
  background-color: #333; 
  width: 100%;            
  max-width: 500px;       
  text-align: left;       
  
  border: 1px solid #555;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
}


.study-space h2 {
  margin-top: 0;
}

.study-space button {
  margin-top: 15px;
  margin-right: 10px;
}